/* 
        syntax
        selector{
            key(property):value;
            key:value;
        }
        
        */
* {
	/* applied css globally with in file*/
	margin: 0px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

h1 {
	color: black;
}
.main-heading {
	color: white;
	background-color: black;
	font-size: large;
	height: 2%;
	width: 80%;
	text-transform: capitalize;
	text-align: right;
	max-width: 1000px;
	min-height: 50px;
}

#sub-heading {
	color: pink;
	background-color: green;
	font-size: medium;
}

h1 {
	/* override above h1 tag */
	color: red;
}

.container {
	border: 1px solid black;
}
/* descendent selector */
/* select all the child element having div tag */
.container div {
	background-color: indigo;
	color: red;
}
/* child selector */

.container-2 > div {
	background-color: green;
	color: white;
}

.section + div {
	font-size: 20px;
}

.section-1 ~ div {
	font-weight: bold;
	font-size: 25px;
}

.container-2 div:last-child {
	color: brown;
}

.any-name:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

table {
	border: 1px solid black;
}

tr:nth-child(2n) {
	background-color: black;
	color: white;
}

tr:nth-child(2n+1) {
	background-color: red;
	color: white;
}
